* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    padding: 5px;
    background-color: black;
    color: #cbcbcb;
}

header, footer {
    background-color: #1c1c1c;
    text-align: center;
    color: #cbcbcb;
}
