.icon-circle {
  display: none;
  border-radius: 50%;
}

.comulative-cases-icon {
  background: #ff0000;
}
.active-cases-icon {
  background: #e38b4f;
}
.incidence-rate-icon {
  background: #ffff00;
}
.fatality-ratio-icon {
  background: #ffffff;
}

.circle {
  z-index: 10;
  display: inline-block;
  border-radius: 50%;
  &-30 {
    width: 30px;
    height: 30px;
  }
  &-25 {
    width: 25px;
    height: 25px;
    margin-left: 2.5px;
  }
  &-22 {
    width: 22px;
    height: 22px;
    margin-left: 4px;
  }
  &-18 {
    width: 18px;
    height: 18px;
    margin-left: 6px;
  }
  &-15 {
    width: 15px;
    height: 15px;
    margin-left: 7.5px;
  }
  &-12 {
    width: 12px;
    height: 12px;
    margin-left: 9px;
  }
  &-10 {
    width: 10px;
    height: 10px;
    margin-left: 10px;
  }
  &-8 {
    width: 8px;
    height: 8px;
    margin-left: 11px;
  }
  &-7 {
    width: 7px;
    height: 7px;
    margin-left: 11.5px;
  }
  &-6 {
    width: 6px;
    height: 6px;
    margin-left: 12px;
  }
  &-5 {
    width: 5px;
    height: 5px;
    margin-left: 12.5px;
  }
  &-4 {
    width: 4px;
    height: 4px;
    margin-left: 13px;
  }
}

.map-button svg {
  cursor: pointer;
  background: #888;
  padding: 3px;
  height: 25px;
  width: 25px;
  position: absolute;
  z-index: 5;
  top: 5px;
  &:active {
    transform: translateY(2px);
  }
}

#legend-handler svg {
  right: 15px;
}

#continents-handler svg {
  right: 45px;
}
