.cases__info .covid-table-wrapper {
  position: relative;
  width: 100%;
}

.cases__info .covid-table {
  width: 100%;
  border-collapse: collapse;
  background-color: $primary-color;
  color: $border-color;
  cursor: default;
  overflow-y: auto;

  &-caption {
    color: $text-color;
    text-align: center;

    tr > td {
      font-size: 18px;
      font-weight: 500;
    }
  }

  td {
    padding: 7px;
    border: 1px solid $border-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4rem;
  }

  tr {
    &:hover {
      background-color: $hover-color;
    }
  }

  [data-status] {
    text-align: center;
  }

  [data-status="confirmed"] {
    color: $text-color;
  }

  [data-status="recovered"] {
    color: $text-color-recovered;
  }

  [data-status="deaths"] {
    color: $text-color-deaths;
  }
}

.cases__info .controls {
  position: relative;
  width: 100%;
  height: 50px;
  background: $primary-color;
  border: 1px solid $border-color;

  button {
    position: absolute;
    align-items: center;
    color: $text-color;
    background: none;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    z-index: 1;
  }

  .arrow {
    top: 50%;
    transform: translateY(-50%);
    color: $border-color;
    font-size: 16px;
    z-index: 2;

    &.left {
      left: 10px;
    }

    &.right {
      right: 10px;
    }

    &:hover {
      color: $text-color;
    }

    &:active {
      color: $border-color;
    }
  }

  .select-btn {
    width: 70%;
    padding: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid $border-color;
    border-radius: 3px;

    &:hover {
      background: $hover-color;
    }
  }
}

.popup-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 180px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  background: $primary-color;
  box-shadow: 0 0 5px 2px #111;
  transition: all 0.2s ease-in-out;
  z-index: 100;

  &.active {
    transform: translate(-50%, -50%) scale(1);
  }

  .item {
    padding: 5px;
    border: 1px solid $border-color;
    text-align: center;
    color: $border-color;
    fonr-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: $hover-color;
      color: $text-color;
    }
  }
}
@media (max-width: 900px) {
  .select-btn {
    // display: none;
  }
}
