.map {
  width: 100%;
  height: calc(100% - 35px);
  &__tabs {
    margin-left: 10px;
  }
  &-radio {
    display: none;
  }
}

.tabs {
  &__tab {
    margin: 0;
    font-size: 14px;
    padding: 5px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 3px solid gray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
  }
}

#comulative:checked ~ #comulative-cases,
#active:checked ~ #active-cases,
#incidence:checked ~ #incidence-rate,
#fatality:checked ~ #fatality-ratio,
#testing:checked ~ #testing-rate {
  display: flex;
}

#comulative:checked ~ .map__tabs #comulative-tab,
#active:checked ~ .map__tabs #active-tab,
#incidence:checked ~ .map__tabs #incidence-tab,
#fatality:checked ~ .map__tabs #fatality-tab,
#testing:checked ~ .map__tabs #testing-tab {
  border: unset;
  background-color: #081217;
  color: #ffffff;
  border-bottom: 3px solid red;
}

div.spinner-border {
  width: 3rem;
  height: 3rem;
}
