.dashboard {
  display: flex;
  justify-content: space-between;
  height: 92%;
  
  & > * {
    background-color: #1a1a1a;
    border-radius: 10px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15),
    0 10px 20px rgba(0, 0, 0, 0.4);;
  }

  &__general-info {
    flex-basis: 17%;
    position: relative;
    color: #cbcbcb;
  }

  &__map {
    flex-basis: 55%;
  }

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .dashboard__general-info {
    width: 49%;
  }
}

@media screen and (max-width: 768px) {
  .dashboard__general-info {
    width: 100%;
  }
}

